.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-top: 60px;
    position: fixed;
    z-index: 10000;
}
students-list{
    z-index: 10;
}
#content{
    width: calc(100vw - 350px);
    margin: 10px;
    padding: 10px;
    height: calc(100vh - 105px);
    background-color: white;
    display: flex;
    justify-content: center;
}